body {
    background-image: linear-gradient( rgb(195, 221, 250), rgb(255, 157, 0));
    padding: 50px 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/siz-islam-PDXJHRwKGF8-unsplash.jpg);
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}

main {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main {
    height: 205px;
    width: 500px;
    border: 3px solid black;
    font-size: 25px;
}

article {
    background-color: white;
    width: 1820px;
    height: 1200px;
    overflow: auto;
    border: 3px solid black;
}


/* aside {
    width: 420px;
    height: 1000px;
} */

section {
    background-color: white;
    margin-bottom: 30px;
}

.head {
    padding: 10px;
    background-color: rgb(255 171 171)
}

.content {
    padding: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 25px;
}

button {
    padding: 10px;
    font-size: 20px;
}

.books {
    height: 150px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

article {
    font-size: 32px;
}

.para {
    padding: 50px;
}

.padd {
    padding: 10px;
}
